<!DOCTYPE html>
{%load static %}
<html lang="pt-br">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
<div class="container-fluid bg-dark mb-2">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <header class="bg-dark my-2 ">

                {% include 'fragments/navbar.html'%}

                <!-Configurando_Carrossel->
                {% include 'fragments/carousel.html' %}
            </header>
        </div>
    </div>
</div>
<main class="bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-xl-8">

                <div class="row">

                    <div class="col-lg-8 d-flex">
                        <!- Configuração da imagem-->

                        <div class="card vh-75 vw-100">
                            <a href="{% url 'post_detail' posts.0.id %}">
                                <img src="{{posts.0.image_capa.url}}" class="card-img-top" alt="imagem do card"></a>
                            <div class="card-body pb-4">
                                <a href="{%url 'post_detail' posts.0.id%}"><h4 class="card-title">{{posts.0.titulo}}</h4></a>
                                <p class="card-text">{{posts.0.resumo|safe}}</p>

                                <p class="card-text">
                                    <small class="text-muted">{{posts.0.data_publicacao}}</small>
                                </p>

                                <!--Incluindo botões-->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center">
                                            <div class="span btn me-3">
                                                <i class="bi bi-heart-fill">Curtir</i>
                                            </div>
                                            <div class="span btn me-3">
                                                <i class="bi bi-chat-fill">Comentar</i>

                                            </div>
                                            <div class="span btn me-3">
                                                <i class="bi bi-share-fill">Compartilhar</i>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!- Configuração da parte do questionário->
                    <div class="col-lg-4 d-none d-lg-flex">
                        <div class="card vh-75 vw-100">

                            <img src="{% static 'blog/snipet-01.png' %}" class="card-img-top" alt="texto-questao">

                            <div class="card-body">

                                <div class="form-check">

                                    <div class="card">
                                        <ul class="list-group list-group-flush">
                                            {% for i in 'ABCDE' %}
                                            <div class="list-group-item"><input class="form-check-input"
                                                                                type="radio"
                                                                                name="flexRadioDefault"
                                                                                id="flexRadioDefault1">
                                                <label class="form-check-label"
                                                       for="flexRadioDefault1">
                                                    Alternativa {{i}}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </ul>
                                        <a href="#" class="btn btn-success">Responder</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <hr class="my-4">

                <div class="container bg-dark py-3 d-flex justify-content-center rounded">
                    <span>

                    <h1 class="text-info">Posts recentes</h1>

                    </span>
                </div>


                <hr class="my-4">
                <!--Configurando os posts recentes-->
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for post in posts|slice:"1:5" %}
                    <div class="col d-flex">
                        <div class="card vh-75 vw-100 pb-3">
                            <a href="{% url 'post_detail' post.id %}"><img src=" {{post.image_capa.url }}"
                                             class="card-img-top img-300 "
                                             alt="Imagem capa"></a>

                            <div class="card-body">
                                <a href="{% url 'post_detail' post.id %}"><h5 class="card-title">{{post.titulo}}</h5></a>
                                <p class="card-text">{{post.resumo|slice:"250"|safe}}.</p>
                            </div>
                            <!--Incluindo botões-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-center">
                                        <div class="span btn me-3">
                                            <i class="bi bi-heart-fill">Curtir</i>
                                        </div>
                                        <div class="span btn me-3">
                                            <i class="bi bi-chat-fill">Comentar</i>

                                        </div>
                                        <div class="span btn me-3">
                                            <i class="bi bi-share-fill">Compartilhar</i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {%endfor%}


                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    {% include 'fragments/footer.html'%}
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
